<!DOCTYPE html>
<html>
            <head>
                        <title>Solenoid Lock</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
            </head>
            <body>
                 <h2><center>IoT Based Solenoid Door Lock Using Raspberry Pi 4<center></h2>                           
            <form action="/1" method="POST">
                              <p align=center><button style=width:90px;height:30px;background-color:red;color:white; <button id="on" class="solenoid">ON</button> <P>
                                 </br>
                               </form>                          
                     <form action="/2" method="POST">
                              <p align=center><button style=width:90px;height:30px;background-color:black;color:white; <button id="off" class="solenoid">OFF</button> <P>
                               </br>
                               </form>                       
        </body>
</html>
